{% extends 'base.html' %}
{% block pestana %}
Agregar Linea
{% endblock pestana %}
{% block titulo %}
Agregar Línea Recorrida
{% endblock titulo %}

{% block cuerpo %}
<form action="{{ url_for('agregar_exito') }}" method="POST">

      <label for="linea"><strong>Elige Una De Las Líneas</strong></label>
      <select name="linea">
      	{% for i in unidas %}
        <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
      </select>
      <input type="submit" value="Submit">
    </form>

{% endblock cuerpo %}